.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.gallery picture {
  width: 100%;
  flex: 0 0 50%;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .gallery picture {
    flex: 0 0 25%;
  }
}
