* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
   background: url('/images/desktop/image-header.jpg');
   background-size: cover;
   background-position: center bottom;

   min-height: 100vh;

   display: flex;
   flex-direction: column;
   font-size: 1.2rem;
}


.topbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 40px;
}

.hero{
  position:relative;
    top: 140px;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* TEXTO */
.hero h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 8px;
    margin-bottom: 40px;
}
.hero img{
    width: 40px;
}

.bt {
  text-decoration: none;
  padding: 8px;
  color: white;
  border-radius: 15px;
  border: 1px solid transparent;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

a:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

