.main{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

/* Elementro de la figura 1 y su diseño */
.element-1{
 font-family: 'fraunces', serif;
 display: flex;
 justify-content: center;
 /* align-items: center; */
 flex-direction: column;
 width: 100%;
 padding: 0px 13%;
 gap: 5%;
}

.element-1 h1{
  font-size: 4rem;
  margin: 0px;
}
.element-1 p{
  font-size: 1.8rem;
  margin: 0px;
  color: rgba(0, 0, 0, 0.6);
}

/* Elemento de la figura 2 y su diseño  */
.element-2 img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Elemento de la figura 3 y su diseño  */
.element-3  img{
 width: 100%;
}

/* Elemento de la figura 4 y su diseño  */
.element-4{
 font-family: 'fraunces', serif;
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 padding: 0px 11%;
 gap: 5%;
}

.element-4 h1{
  font-size: 4rem;
  margin: 0px;
}
.element-4 p{
  font-size: 1.8rem;
  margin: 0px;
  color: rgba(0, 0, 0, 0.6);
}

/* Elemento de la figura 5 y su diseño  */
/* Solo afecta 5 y 6 */
.element-5,
.element-6 {
  position: relative;
  color: rgba(0, 0, 0,0.7);
  text-align: center;
}

.element-5 img,
.element-6 img {
  width: 100%;
  display: block;
}

/* Título */
.element-5 h1,
.element-6 h1 {
  position: absolute;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 2.5rem;
  margin: 0px;
  font-family: 'fraunces', serif;
}

/* Texto */
.element-5 p,
.element-6 p {
  padding: 0px 15%  ;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 1.2rem;
 font-family: 'fraunces', serif;
}

/* Imnicia media generalllllllllllllllllllllllllll */

@media (max-width: 1800px) {
.element-1{
 font-family: 'fraunces', serif;
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 padding: 0px 13%;
 gap: 5%;
}

.element-1 h1{
  font-size: 3rem;
  margin: 0px;
}
.element-1 p{
  font-size: 1.23rem;
  margin: 0px;
  color: rgba(0, 0, 0, 0.8);
}

/* Elemento de la figura 2 y su diseño  */
.element-2 img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Elemento de la figura 3 y su diseño  */
.element-3  img{
 width: 100%;
}

/* Elemento de la figura 4 y su diseño  */
.element-4{
 font-family: 'fraunces', serif;
 display: flex;
 justify-content: center;
 flex-direction: column;
 width: 100%;
 padding: 0px 13%;
 gap: 5%;
}

.element-4 h1{
  font-size: 3rem;
  margin: 0px;
}
.element-4 p{
  font-size: 1.2rem;
  margin: 0px;
  color: rgba(0, 0, 0, 0.6);
}

/* Elemento de la figura 5 y su diseño  */
/* Solo afecta 5 y 6 */
.element-5,
.element-6 {
  position: relative;
  color: rgba(0, 0, 0,0.7);
  text-align: center;
}

.element-5 img,
.element-6 img {
  width: 100%;
  display: block;
}

/* Título */
.element-5 h1,
.element-6 h1 {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 2.5rem;
  margin: 0px;
  font-family: 'fraunces', serif;
}

/* Texto */
.element-5 p,
.element-6 p {
  padding: 0px 15%  ;
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  font-size: 1.2rem;
 font-family: 'fraunces', serif;
}

}




@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
/* Elementro de la figura 1 y su diseño */
.element-1{
 font-family: 'fraunces', serif;
 display: flex;
 justify-content: center;
 /* align-items: center; */
 flex-direction: column;
 width: 100%;
 height: 150%;
 padding: 0px 13%;
 gap: 5%;
}

.element-1 h1{
  font-size: 4rem;
  margin: 0px;
}
.element-1 p{
  font-size: 1.8rem;
  margin: 0px;
  color: rgba(0, 0, 0, 0.6);
}
}



/* }
.sec1{
  display: flex;
  flex-direction:row;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 10%;

}
.text{
  display: flex;
  justify-content: center;
  max-width: 50%;
  flex-direction: column;
  padding: 12%;
  gap: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.imga img{
  flex: 1;
  width: 130%;

}
h1{
  font-size: 3.5rem;
  margin: 0px;;
}
p{
  font-size: 1.3rem;
  margin: 0px;
 
}
h3{
  justify-content: left;
  font-size: 1.2rem;

}

/*Fila numero 2 imagen copa*/
/* .sec2{
  display: flex;
  flex-direction:row;
  margin: 0px;
  padding: 0px;
}
.sec2 img{
  width: 68%;
}
.ext{
  display: flex;
  justify-content: center;
  max-width: 50%;
  flex-direction: column;
  padding: 12%;
  gap: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position:block;
}
.ult{
display: flex;

} */

/* .cere,
.nar{
  width: 50%;
  position: relative;
  display: flex;
} */


/* .cere{
  background-image: url(/images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position:center;
  width: 50vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */ 

/* imágenes */
/* .cere img,
.nar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display:flex
} */

/* texto encima de la imagen */
/* .cere h1,
.cere p,
.nar h1,
.nar p{
  
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
 flex-direction: column;
  color: black;
  padding: 0 20px;
} */

/* .cere h1,
.nar h1{
  bottom: 80px;
}

.cere p,
.nar p{
  bottom: 40px;
}

@media (max-width: 768px){

  .ult{
    flex-direction: column;
  }

  .cere,
  .nar{
    width: 100%;
  }
} */

/* .ult{

  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.cere img{
  position: center;
  width: 100%;
  height: auto;
}

.nar img{
  position: center;
  width: 100%;
} */

/* .cere{
  display: flex;
  width: 50%;
  background: url('/images/desktop/image-graphic-design.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 10% 9% 0% 8%;
  gap: 6%;
  
} */

/* .cere p{
  color: black;
  font-size: 2rem;
} */
/* .nar{
  display: flex;
  background: url('/images/desktop/image-photography.jpg');
  width: 50%;
  background-size:contain;
  background-repeat: no-repeat;
  text-align: center; 
  justify-content:center;
  flex-direction: column;
  padding: 10% 7% 0% 7%;
  gap: 6%;
}
.nar p{
  color: black;
  font-size: 2rem;
} */
/* 
@media (max-width: 768px) {
.sec1 {
    flex-direction: column-reverse;
    
  }
  
  .text, .ext, .cere, .nar {
    max-width: 100%;
    padding: 10%;
  }
  
  .imga img, .sec2 img {
    width: 100%;
  }
}


@media (max-width: 768px) {
.sec2 {
    flex-direction: column;
    
  }
  
  .text, .ext, .cere, .nar {
    max-width: 100%;
    padding: 10%;
  }
  
  .imga img, .sec2 img {
    width: 100%;
  }
} */

/* @media (max-width: 768px) {
.ult{
    flex-direction: column;
    
  }
  .cere {
   display: flex;
  width: 150%;
  background: url('/images/desktop/image-graphic-design.jpg');
  background-position: center;
   background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10% 9% 0% 8%; */
  /* gap: 6%; 
  
  }

  .cere p{
  color: black;
  font-size: 1rem;
}
} */