<link rel="stylesheet" href="/Css/gallery.css" />
<section id="gallery" class="gallery">
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="/images/desktop/image-gallery-milkbottles.jpg"
    />
    <img
      src="/images/mobile/image-gallery-milkbottles.jpg"
      alt=""
      loading="lazy"
    />
  </picture>

  <picture>
    <source
      media="(min-width: 768px)"
      srcset="/images/desktop/image-gallery-orange.jpg"
    />
    <img src="/images/mobile/image-gallery-orange.jpg" alt="" loading="lazy" />
  </picture>

  <picture>
    <source
      media="(min-width: 768px)"
      srcset="/images/desktop/image-gallery-cone.jpg"
    />
    <img src="/images/mobile/image-gallery-cone.jpg" alt="" loading="lazy" />
  </picture>

  <picture>
    <source
      media="(min-width: 768px)"
      srcset="/images/desktop/image-gallery-sugarcubes.jpg"
    />
    <img
      src="/images/mobile/image-gallery-sugar-cubes.jpg"
      alt=""
      loading="lazy"
    />
  </picture>
</section>
