<link rel="stylesheet" href="/Css/header.css">
<script src="/js/Menu.js"></script>

<section id="header" class="header">

    <div class="topbar">
        <div>
            <img src="/images/logo.svg" alt="imagen par el emzabezado">
        </div>

        <nav>
            <a class="bt" href="About">About</a>
            <a class="bt" href="Services">Services</a>
            <a class="bt" href="Projects">Projects</a>
            <a class="bt" href="Contact">CONTACT</a>
        </nav>
        <div class="hamburguesa" onclick="toggleMenu()">
    ☰
  </div>
    </div>

    <div class="hero">

        <h1>
            WE ARE CREATIVES
        </h1>

        <img src="/images/icon-arrow-down.svg" alt="Icono de flecha">
    </div>
</section>