<link rel="stylesheet" href="/Css/header.css">

<section id="header" class="header">
    <div class="Logo">
        <img src="/images/logo.svg" alt="imagen par el emzabezado">
    </div>
    <nav class="Nav-menu">
        <div class="Menu">
            <a class="bt" href="About">About</a>
            <a class="bt" href="Services">Services</a>
            <a class="bt" href="Projects">Projects</a>
            <a class="bt" href="Contact">CONTACT</a>
        </div>
    </nav>
    <div class="flecha">
        <img src="/images/icon-arrow-down.svg" alt="Icono de flecha">
    </div>
    <div class="creatives">
        <h1>
            WE ARE CREATIVES
        </h1>
    </div>


</section>