<link rel="stylesheet" href="/Css/main.css" />
<section class="main">

  <div class="element element-1">
    <h1>Transform your brand</h1>
    <p>We are a full-service creative agency specializing in helping brands grow fast. Engage
      your clients through compelling visuals that do most of the marketing for you.
    </p>

    <h3>LEARN MORE</h3>
  </div>


  <div class="element element-2">
    <img src="/images/desktop/image-transform.jpg" alt="Imagen del huevo">
  </div>


  <div  class="element element-3">
    <img src="/images/desktop/image-stand-out.jpg" alt="Imagen del huevo">
  </div>


  <div class="element element-4">
    <h1>Stand out to the right audience</h1>
    <p>Using a collaborative formula of designers, researchers, photographers, videographers, and copywriters, we’
      ll build and extend your brand in digital places.</p>
    <h3>LEARN MORE</h3>
  </div>


  <div  class="element element-5">
    <img src="/images/desktop/image-graphic-design.jpg" alt="Imagen del huevo">
    <h1>Graphic Design</h1>
    <p>Great design makes you memorable. We deliver artwork that underscores your brand message and captures
      potential clients’ attention.</p>
  </div>

  <div class="element element-6">
    <img src="/images/desktop/image-photography.jpg" alt="Imagen del huevo">
    <h1>Photography</h1>
    <p>Increase your credibility by getting the most stunning, high-quality photos that improve your business image.
    </p>
  </div>
</section>