<link rel="stylesheet" href="/Css/testimonials.css" />
<section id="testimonials" class="testimonials">
  <div class="testimonials-container">
    <div class="testimonials-title">
      <h1 class="titleTestimonials">CLIENT TESTIMONIALS</h1>
    </div>
    <div class="testimonials-profile">
      <div class="user-card">
        <img class="imgProfile" src="/images/image-emily.jpg" alt="" />
        <p>
          We put our trust in Sunnyside and they delivered, making sure our
          needs were met and deadlines were always hit.
        </p>
        <h1>Emily R.</h1>
        <h2>Marketing Director</h2>
      </div>
      <div class="user-card">
        <img class="imgProfile" src="/images/image-thomas.jpg" alt="" />
        <p>
          Sunnyside´s enthusiasm coupled with their keen interest in our brand´s
          success made it a satisfying and enjoyable experience.
        </p>
        <h1>Thomas S.</h1>
        <h2>Chief Operating Officer</h2>
      </div>
      <div class="user-card">
        <img class="imgProfile" src="/images/image-jennie.jpg" alt="" />
        <p>
          Incredible end result! Our sales increased over 400% when we worked
          with Synnyside. Highlh recommended!
        </p>
        <h1>Jennie F.</h1>
        <h2>Business Owner</h2>
      </div>
    </div>
  </div>
</section>
